.Menu {
  color: white;
  display: flex;
  background-color: #333;
  padding: 5px;
  margin: 0;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  align-items: center; }

.Menu .links {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
