.Menu {
  color: white;
  display: flex;
  background-color: #333;
  padding: 10px 20px;
  flex-wrap: wrap; }
  .Menu .links {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
