.Logo {
  color: #aaa;
  font-size: 20px;
  padding: 5px; }

.Logo .highlight {
  transition: color 1s ease-in-out;
  -o-transition: color 1s ease-in-out;
  -ms-transition: color 1s ease-in-out;
  -moz-transition: color 1s ease-in-out;
  -webkit-transition: color 1s ease-in-out; }

.Logo:hover .highlight {
  color: #fff; }
