.PaintingModalBody {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  max-width: 800px; }
  .PaintingModalBody .skillsBox {
    min-width: 200px;
    padding: 5px;
    width: 98%; }
  .PaintingModalBody .appImage {
    border-radius: 5px;
    height: auto;
    width: 50%; }
