.AppModal {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 80%;
  left: 50%;
  opacity: 0;
  overflow: scroll;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.25s ease-in-out;
  flex: 0;
  flex-direction: column;
  z-index: 100; }
  .AppModal .commentsSection {
    padding: 5px; }
  .AppModal .bodyWrapper {
    padding: 5px; }
  .AppModal .buttonsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    flex: 1; }
  .AppModal .headerWrapper {
    background-color: #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    justify-content: space-around;
    position: sticky;
    text-align: center;
    top: 0;
    width: 100%; }
    .AppModal .headerWrapper .header {
      flex: 1;
      margin: 0;
      padding: 5px; }
    .AppModal .headerWrapper .closer {
      position: absolute;
      right: 3px;
      top: 3px; }
      .AppModal .headerWrapper .closer .closeIcon {
        color: white;
        background-color: red;
        border: 2.5px solid red;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-radius: 3px;
        cursor: pointer; }

.AppModal.visible {
  opacity: 1;
  flex: 1; }

.AppModal.hidden {
  opacity: 0; }
